.circle {
	width: 700px;
	height: 700px;
	border-radius: 50%;
	
	background-image: url('baraban.png');
	background-size: cover; 
	transition: transform 2s;
	
}

p {
	position: relative;
	left: 330px;
	font-size: 60px;
}